@model Wisata.DataAccess.Models.travel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Tambah Travel</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>travel</h4>
        <hr />
        @Html.ValidationSummary(true)

    

        <div class="form-group">
            @Html.LabelFor(model => model.KecamatanID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(O => O.KecamatanID, new SelectList(ViewBag.Kecamatans, "Id_Kecamatan", "nama_kecamatan"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KecamatanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama_Travel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama_Travel)
                @Html.ValidationMessageFor(model => model.Nama_Travel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomor_Telepon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomor_Telepon)
                @Html.ValidationMessageFor(model => model.Nomor_Telepon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Lintang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lintang)
                @Html.ValidationMessageFor(model => model.Lintang)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Bujur, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bujur)
                @Html.ValidationMessageFor(model => model.Bujur)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nama_Direktur, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama_Direktur)
                @Html.ValidationMessageFor(model => model.Nama_Direktur)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <p> @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })</p>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
