@model Wisata.DataAccess.Models.travel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details Travel</h2>

<div class="col-md-8">
    <h3>@Html.DisplayFor(model => model.Nama_Travel)</h3>
    <hr />

   

    <div class="panel">
    <dt class="col-md-4">
        @Html.DisplayNameFor(model => model.KecamatanName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.KecamatanName)
    </dd>
</div>
<div class="panel">
    <dt class="col-md-4">
        @Html.DisplayNameFor(model => model.Nama_Travel)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nama_Travel)
    </dd>
</div>
<div class="panel">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Nomor_Telepon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomor_Telepon)
        </dd>
    </div>
<div class="panel">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </div>
<div class="panel">
    <dt class="col-md-4">
        @Html.DisplayNameFor(model => model.Website)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Website)
    </dd>
</div>
<div class="panel">
    <dt class="col-md-4">
        @Html.DisplayNameFor(model => model.Nama_Direktur)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nama_Direktur)
    </dd>
</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.TravelID }, new { @class = "btn btn-primary" }) |
       @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })

    </p>

</div>



