@using System.Web.Mvc
@model Wisata.Models.ObjectWisataView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @{
        var Maps = Json.Encode(ViewBag.Maps);

    }

<div class="container">
    <h2>Objek Wisata : @Model.ObjectWisata.Nama_Objek</h2>
  
    <div class="panel panel-default" onload="initialize(@Model.ObjectWisata.Lintang,@Model.ObjectWisata.Bujur@Maps)" >
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#galery"><span class="glyphicon glyphicon-picture"></span> Galeries </a>
            </h4>
        </div>
        <div id="galery" class="panel-collapse collapsed">
            <div class="panel-body">
                <div >
                    <div id="@Model.ObjectWisata.ObjekID" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            @{
                                var no = 0;
                                foreach (var item in @Model.Galeries)
                                {
                                    no = no + 1;
                                    if (no <= 1)
                                    {
                                        <li data-target="#@Model.ObjectWisata.ObjekID" data-slide-to="@no"></li>
                                    }
                                    else
                                    {
                                        <li data-target="#@Model.ObjectWisata.ObjekID" data-slide-to="@no"></li>
                                    }


                                }
                            }
                        </ol>
                        <div class="carousel-inner">
                            @{
                                no = 0;
                                foreach (var item in @Model.Galeries)
                                {
                                    no = no + 1;

                                    if (no <= 1)
                                    {
                                        <div class="item active">
                                            <div class="container">
                                                <img width="100%" height="400px" src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None))" />

                                                <div class="carousel-caption">
                                                    <h5>@item.FileName</h5>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item col-md-12">
                                            <div class="container">
                                                <img  width="100%" height="400px"  src="@String.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(item.DataFile, Base64FormattingOptions.None))"/>
                                                <div class="carousel-caption">
                                                    <h5>@item.FileName</h5>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            }
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#@Model.ObjectWisata.ObjekID" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#@Model.ObjectWisata.ObjekID" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#peta"><span class="glyphicon glyphicon-globe"></span> Peta</a>
                    </h4>
                </div>
                <div id="peta" class="panel-collapse collapsed">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div style="width:100%; height:400px" id="map"></div>
                                <div id="coords"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#deskripsi"><span class="glyphicon glyphicon-comment"></span> Deskripsi </a>
                    </h4>
                </div>
                <div id="deskripsi" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <ul>
                                <li>
                                    @Html.Raw(Model.ObjectWisata.Description)
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#hotel"><span class="glyphicon glyphicon-home"></span> Hotels</a>
                    </h4>
                </div>
                <div id="hotel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    @foreach (var item in Model.Hotels)
                                    {
                                        <li data-toggle="modal" data-target="#showHotel" onload="setMarkers(@Json.Encode(item))" onclick="ChangeHotel(@Json.Encode(item))">@item.Nama_Hotel</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#rm"><span class="glyphicon glyphicon-cutlery"></span> Rumah Makan/Restaurant</a>
                    </h4>
                </div>
                <div id="rm" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    @if (Model.Kuliners != null)
                                    {
                                        foreach (var item in Model.Kuliners)
                                        {
                                            <li data-toggle="modal" data-target="#showKuliner" onclick="ChangeKuliner(@Json.Encode(item))">@item.Nama_Tempat_Kuliner</li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#pasar"><span class="glyphicon glyphicon-shopping-cart"></span>Tempat Belanja </a>
                    </h4>
                </div>
                <div id="pasar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <ul>
                                @if (Model.TempatBelanjas != null)
                                {
                                    foreach (var item in Model.TempatBelanjas)
                                    {
                                        <li data-toggle="modal" data-target="#showTempatBelanja" onclick="ChangeBelanja(@Json.Encode(item))">@item.Nama_Tempat_Belanja</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#pasar"><span class="glyphicon glyphicon-plus-sign"></span> Rumah Sakit/Puskesmas </a>
                    </h4>
                </div>
                <div id="pasar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <ul>
                                @if (Model.RumahSakits != null)
                                {
                                    foreach (var item in Model.RumahSakits)
                                    {
                                        <li data-toggle="modal" data-target="#showRumahSakit" onclick="ChangeRumahSakit(@Json.Encode(item))">@item.Nama_Rumah_sakit</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" style="margin:10px">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#pasar"><span class="glyphicon glyphicon-plane"></span> Travels </a>
                    </h4>
                </div>
                <div id="pasar" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <ul>
                                @if (Model.Travels != null)
                                {
                                    foreach (var item in Model.Travels)
                                    {
                                        <li data-toggle="modal" data-target="#showTravel" onclick="ChangeTravel(@Json.Encode(item))">@item.Nama_Travel</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>


</div>




<!--Bootstrap-->
<div class="modal fade" id="showHotel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data- dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="hotelName" class="modal-title">Form Persetujuan</h4>

            </div>
            <div class="modal-body" >
                <div class="row col-lg-12">
                    <form>


                        <div class="form-group control-label" style="font-size:18px">
                            Status Hotel
                            <input id="input21"  name="input21" value="3" class="rating" type="number" min="0" max="5" step="0.5" data-size="xs"
                                   data-symbol="&#xf005;" data-glyphicon="false" data-rating-class="rating-fa">

                           
                        </div>
                        <div class="control-label" style="font-size:18px">Jumlah Kamar <a id="kamar"></a></div>
                        <div class="control-label" style="font-size:18px">Harga Kamar/Malam <a id="harga"></a></div>
                        <div class="control-label" style="font-size:18px">Direktur <a id="direktur"></a></div>

                        <div class="control-label" style="font-size:18px"><span class="glyphicon glyphicon-phone"></span><a id="telepon"></a></div>
                        <div class="control-label" style="font-size:18px"><span class="glyphicon-map-marker"></span><a id="email"></a></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showKuliner" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data- dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="kulinerName" class="modal-title">Form Persetujuan</h4>

            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <div class="control-label" style="font-size:18px">Pemilik <a id="pemilik"></a></div>
                    <div class="control-label" style="font-size:18px"><span class="glyphicon glyphicon-phone"></span><a id="tlpkuliner"></a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel.</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showTempatBelanja" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data- dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="belanjaName" class="modal-title">Form Persetujuan</h4>

            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <div class="control-label" style="font-size:18px">Alamat <a id="belanjaAlamat"></a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel.</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="showRumahSakit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data- dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="rsName" class="modal-title">Form Persetujuan</h4>

            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <div class="control-label" style="font-size:18px">Alamat <a id="rsAlamat"></a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel.</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="showTravel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data- dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="trvName" class="modal-title">Form Persetujuan</h4>

            </div>
            <div class="modal-body">
                <div class="row col-lg-12">
                    <div class="control-label" style="font-size:18px">Direktur <a id="trvdirektur"></a></div>
                    <div class="control-label" style="font-size:18px"><span class="glyphicon glyphicon-phone-alt"></span><a id="trvtelepon"></a></div>
                    <div class="control-label" style="font-size:18px"><span class="glyphicon-envelope"></span><a id="trvemail"></a></div>
                    <div class="control-label" style="font-size:18px"><span class="glyphicon-link"></span><a id="trvweb"></a></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel.</button>
            </div>
        </div>
    </div>
</div>

<link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/star-rating.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/star-rating.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhMGCaraBDb4LJegqh7SJy_9815MdM4WI&callback=initMap" async defer></script>

<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom:15,
            center: { lat: @Model.ObjectWisata.Lintang, lng: @Model.ObjectWisata.Bujur}
        });

       
        var image = {
            url: 'Images/waterway-canal-icon.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(20, 32),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };

        @foreach(var item in ViewBag.Maps)
        {
            var i = item as Wisata.Models.MapObject;
            <text>
      
            var marker = new google.maps.Marker({
                position: {lat:@i.Lintang, lng: @i.Bujur},
                map: map,
              //  icon:image,
                shape: shape,
                title: '@i.Name'
            });
        </text>
        }
    }

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.
 


    function ChangeHotel(item) {
        $("#input21").val(2);
        $("#hotelName").html(item.Nama_Hotel);
        $("#harga").html(item.Harga_Satu_Malam);
        $("#kamar").html(item.Jumlah_kamar);
        $("#telepon").html(item.Nomor_Telpon);
        $("#email").html(item.Email);
        $("#direktur").html(item.Nama_Direktur);
       
     //   StartRating();
      
    }


    function ChangeKuliner(item) {
        $("#kulinerName").html(item.Nama_Tempat_Kuliner);
        $("#pemilik").html(item.Pemilik);
        $("#tlpkuliner").html(item.Telpon);

    }

    function ChangeBelanja(item) {
        $("#belanjaName").html(item.Nama_Tempat_Belanja);
        $("#belanjaAlamat").html(item.Alamat);
    }
    function ChangeRumahSakit(item) {
        $("#rsName").html(item.Nama_Rumah_sakit);
        $("#rsAlamat").html(item.Alamat);
    }


    function ChangeTravel(item) {
        $("#trvName").html(item.Nama_Travel);
        $("#trvdirektur").html(item.Nama_Direktur);
        $("#trvtelepon").html(item.Nomor_Telepon);
        $("#trvemail").html(item.Email);
        $("#trvweb").html(item.Website);


    }

</script>


