@model Wisata.DataAccess.Models.tempat_belanja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details Belanja</h2>

<div class="col-md-8">
    <h4>tempat_belanja</h4>
    <hr />
             
    <div class="panel">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.KecamatanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KecamatanName)
        </dd>
    </div>
    <div class="panel">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Nama_Tempat_Belanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nama_Tempat_Belanja)
        </dd>
    </div>
    <div class="panel">
        <dt class="col-md-3">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
    </div>

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_tempat_belanja }, new { @class = "btn btn-warning" }) 
<p>
    
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-info" })
</p>
