@model Wisata.DataAccess.Models.hotel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Hotel</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>hotel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.HotelID)

        <div class="form-group">
            @Html.LabelFor(model => model.KecamatanID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(O => O.KecamatanID, new SelectList(ViewBag.Kecamatans, "Id_Kecamatan", "nama_kecamatan"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KecamatanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama_Hotel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama_Hotel)
                @Html.ValidationMessageFor(model => model.Nama_Hotel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Jumlah_kamar, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Jumlah_kamar)
                @Html.ValidationMessageFor(model => model.Jumlah_kamar)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Harga_Satu_Malam, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Harga_Satu_Malam)
                @Html.ValidationMessageFor(model => model.Harga_Satu_Malam)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nama_Direktur, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama_Direktur)
                @Html.ValidationMessageFor(model => model.Nama_Direktur)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nomor_Telpon, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nomor_Telpon)
                @Html.ValidationMessageFor(model => model.Nomor_Telpon)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website)
                @Html.ValidationMessageFor(model => model.Website)
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="form">
 <p>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })</p>
</div>
