<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DINAS KEBUDAYAAN &amp; PARIWISATA KOTA JAYAPURA</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/main.css" rel="stylesheet" />
    <link href="/Content/sl-slide.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />

    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/Dashboar.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">

                <ul class="nav nav-sidebar">
                    <li class="active"><a href="#">Menu <span class="sr-only">(current)</span></a></li>
                    <li>@Html.ActionLink("Kecamatan", "Index", "Kecamatan")</li>
                    <li>@Html.ActionLink("Objek Wisata", "Index", "Objek")</li>
                    <li>@Html.ActionLink("Hotel","Index","Hotel")</li>
                    <li>@Html.ActionLink("Kuliner", "Index", "Kuliner")</li>
                    <li>@Html.ActionLink("Tempat Belanja", "Index", "Belanja")</li>
                    <li>@Html.ActionLink("Artikel","Index","Artikel")</li>
                    <li>@Html.ActionLink("Rumah Sakit","Index","rumah_sakit")</li>
                    <li>@Html.ActionLink("Travel","Index","travel")</li>
                    <li>@Html.ActionLink("Galery", "Index", "galery")</li>
                    <li>@Html.ActionLink("Pengunjung", "Index", "pengunjung")</li>
                    <li>@Html.ActionLink("Users","Index","user")</li>
                </ul>

            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <div class="table-responsive">
                    <div class="container body-content">

                        @RenderBody()
                        <hr />
                    </div>

                </div>
            </div>


            
            </div>
        </div>
    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/main.js"></script>
    <script src="/Scripts/jquery.ba-cond.min.js"></script>
    <script src="/Scripts/jquery.slitslider.js"></script>
    <script src="/Scripts/respond.js"></script>


 @RenderSection("scripts", required: false)
    
</body>

</html>
