@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<div class="container fill" >

    <div class="col-md-12" style="">
        <div>
            @RenderBody()
        </div>
    </div>
</div>

<style type="text/css">
    .fill {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-image: url('../../Images/Etsy Error_Cropped.jpg');
       
    }
</style>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)