@model Wisata.DataAccess.Models.Galery

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-8">
    <h2>Hapus Galery</h2>

    <h3>Apakah Anda Yakin Akan Menghapus File ini?</h3>
    <div class="row">
        <h4>Galery</h4>
      </div>

        <div class="panel">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.ObjectID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ObjectID)
            </dd>
        </div>
        <div class="panel">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>
        </div>
        <div class="panel">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.Deskripsi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Deskripsi)
            </dd>
        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
